<!DOCTYPE html>
<html lang="en" class="light">

<head>
  <meta charset="UTF-8">
  <title>PHC - Stock Management</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel="stylesheet" href="css/home.css">
</head>

<body>
  <div class="app-container">
    <%- include('partials/sidebar') %>
      <div class="app-content">
        <header class="header">
          <img src="img/logo.jpg" alt="Logo" class="logo">
          <div class="header-text">
            <h1>PRIMARY HEALTH CENTER</h1>
            <h2>PDPM IIITDM Jabalpur</h2>
          </div>
        </header>
        <div class="search-container">
          <input type="text" class="search-bar" placeholder="Search...">
          <select class="search-dropdown">
            <option value="user_id_id">Patient ID</option>
            <option value="patient_name">Patient Name</option>
            <!-- Add other fields as needed -->
          </select>
          <button class="search-button">Search</button>
        </div>
        <div class="results-table">
          <!-- Table to display search results -->
          <table class="table">
            <thead>
              <tr>
                <th>User ID</th>
                <th>Patient Name</th>
                <th>Visit Date</th>
                <th>Doctor Name</th>
                <th>View Prescription</th>
              </tr>
            </thead>
            <tbody>
              <!-- Rows will be dynamically inserted here -->
            </tbody>
          </table>
        </div>
        <div id="prescriptionPopup" class="pres_popup">
          <div class="prescription-popup-content">
            <span class="prescription-close-btn">&times;</span>
            <div class="prescription-header">
              <div class="logo"></div>
              <div class="prescription-title">
                <div class="main-title">Primary Health Center</div>
                <div class="sub-title">PDPM IIITDM Jabalpur</div>
              </div>
            </div>
            
            <div class="prescription-details">
              <div class="doctor-details"></div>
              <div class="patient-details"></div>
              <div class="patient-age-details"></div>
              <table class="medicines-table">
                <thead>
                  <tr>
                    <th>Medicine Name</th>
                    <th>Quantity</th>
                    <th>Days</th>
                    <th>Times</th>
                    <th>Prescribed Date</th>
                    <th>Revoked Status</th>
                    <th>Revoked Date</th>
                  </tr>
                </thead>
                <tbody></tbody>
              </table>
            </div>
            <button class="print-btn">Print Prescription</button>
          </div>
        </div>
      </div>
  </div>
  <script src="js/script.js"></script>
</body>

</html>
