<%- include('partials/header') %>

<div class="box-form">
  <div class="left">
    <div class="overlay">
      <h1>Primary Health Center</h1>
      <p>PDPM IIITDM Jabalpur</p>
    </div>
  </div>
  <div class="right">
    <h5>Login</h5>
    <p>Trouble logging in. Please contact administrator.</p>
    <div class="inputs">
      <input type="text" placeholder="user name">
      <br>
      <input type="password" placeholder="password">
    </div>
    <br>
    <br>
    <button>Login</button>
  </div>

</div>

  <%- include('partials/footer') %>