body {
  /* background-image: linear-gradient(135deg, #83a4d4 10%, #b6fbff 100%);
  background-size: cover;
  background-repeat: no-repeat; */
  background-attachment: fixed;
  font-family: "Open Sans", sans-serif;
  color: #333;
  margin: 40px;
  /* padding: 0;  */
}

.box-form {
  /* margin: 10vh auto; */
  width: 100%;
  height: 90vh;
  /* max-width: 1000px; */
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  align-items: stretch;
  box-shadow: 0 0 20px 6px #00000029;
}

@media (max-width: 980px) {
  .box-form {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

.box-form .left {
  flex: 1;
  background: url("LHTC.jpg") center center no-repeat;
  background-size: cover;
  position: relative;
}

.box-form .left .overlay {
  padding: 30px;
  width: 100%;
  height: 100%;
  background: rgba(89, 97, 249, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.box-form .left .overlay h1 {
  font-size: 36px;
  font-weight: 900;
  margin: 0;
  color: #fff;
}

.box-form .left .overlay p {
  font-size: 18px;
  color: #fff;
}

.box-form .right {
  flex: 1;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (max-width: 980px) {
  .box-form .right {
    width: 100%;
    padding: 20px;
  }
}

.box-form .right h5 {
  font-size: 24px;
  margin-bottom: 20px;
}

.box-form .right p {
  font-size: 14px;
  color: #777;
}

.box-form .right .inputs {
  margin-bottom: 20px;
}

.box-form .right input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.box-form .right button {
  padding: 10px 30px;
  border: none;
  border-radius: 5px;
  background: #5961f9;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.box-form .right button:hover {
  background: #4048c8;
}
